@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}

#site-header .navigation-wrapper{
  @apply h-20 bg-sky-500 flex items-center justify-center text-3xl font-bold text-white;
}

#site-main {
  min-height: calc(100vh - 240px);
}

#site-footer .footer-wrapper{
  @apply h-40 bg-sky-700 flex items-center justify-center text-3xl font-bold text-white;
}

.card-info {
  @apply flex flex-col justify-between h-full items-start
}